body {
    font-family: Arial, sans-serif;
    background-color: #0e8f92;
    color: #333;
}

#controls {
    text-align: center;
    margin-bottom: 20px;
}

#arrayContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    border: 1px solid #971818;
}

.bar {
    width: 20px;
    margin: 0 5px;
    background-color: #db5034;
}
